baseURL = "https://xinwuye.github.io/homepage" # Updated without trailing slash
languageCode = "en-us"
title = "Xinwu Ye"
theme = "hugo-profile"

[outputs]
  home = ["HTML", "RSS", "JSON"]
  page = ["HTML", "RSS"]

enableRobotsTXT = true

[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true

# Theme-specific parameters
[params]
  title = "Xinwu Ye"
  author = "Xinwu Ye"
  # Multi-paragraph about section
  aboutParagraphs = [
    "I am a PhD student at [Department of Computer Science](https://www.cs.hku.hk/) in [The University of Hong Kong](https://www.hku.hk/), advised by [Shenghua Gao](https://scholar.google.com/citations?user=fe-1v0MAAAAJ&hl=en), and co-advised by [Liangyi Chen](https://future.pku.edu.cn/en/js/Faculty/InstituteMedicine/e215c13603434680a6f6c313a48f71f9.htm). I worked as a research assistant in [Gerstein Lab](https://www.gersteinlab.org/) at [Yale University](https://www.yale.edu/) from 2024 to 2025. My research interests focus on solving scientific problems with artificial intelligence, with particular emphasis on biomolecule deisgn and large language models.",
    "I am always seeking new research collaborations to tackle challenging problems. Additionally, I am open to discussing technology commercialization and co-founding opportunities. If you see a potential for us to work together, please drop me an email.",
  ]
  
  # Disable animations for cleaner look
  animate = false

  # Simple navbar configuration
  [params.navbar]
    align = "ms-auto"
    brandName = "Your Name"
    disableSearch = true
    [params.navbar.stickyNavBar]
      enable = true
      showOnScrollUp = true
    [params.navbar.menus]
      disableAbout = true # Disable About section
      disableExperience = true
      disableEducation = false
      disableProjects = false
      disableAchievements = true
      disableContact = true

  # Profile section
  [params.profile]
    enable = true
    name = "Xinwu Ye"


  # About section (disabled)
  [params.about]
    enable = false

  # Preprints section (using custom projects format)
  [params.achievements]
    enable = true
    title = "Preprints"
    content = "* represents equal contribution and co-first authorship."
    [[params.achievements.items]]
      title = "LatentChem: From Textual CoT to Latent Thinking in Chemical Reasoning"
      content = "**Xinwu Ye**&#42;, [Yicheng Mao](https://github.com/riiiiiiin)&#42;, Jia Zhang, [Yimeng Liu](https://www.linkedin.com/in/yoyo-liu-023332219/), [Li Hao](https://howardli1984.github.io/), [Fang Wu](https://smiles724.github.io/), [Zhiwei Li](https://digbangbang.github.io/), [Yuxuan Liao](https://www.linkedin.com/in/yuxuan-liao021/), [Zehong Wang](https://zehong-wang.github.io/), [Zhiyuan Liu](https://acharkq.github.io/), [Zhenfei Yin](https://yinzhenfei.github.io/), [Li Yuan](https://yuanli2333.github.io/), [Philip Torr](https://scholar.google.com/citations?user=kPxa2w0AAAAJ&hl=en), [Huan Sun](https://u.osu.edu/ihudas/people/), [Xiangxiang Zeng](https://scholar.google.com/citations?user=B20HBMIAAAAJ&hl=en), [Mengdi Wang](https://scholar.google.com/citations?user=33yNvIgAAAAJ&hl=en), [Le Cong](https://scholar.google.com/citations?user=sfJIWdcAAAAJ&hl=en), [Shenghua Gao](https://scholar.google.com/citations?user=fe-1v0MAAAAJ&hl=en), [Xiangru Tang](https://xiangrutang.github.io/). \n\n**arXiv (2026)**."
      [[params.achievements.items.links]]
        url = "https://arxiv.org/abs/2602.07075"
        name = "paper"
      [[params.achievements.items.links]]
        url = "https://github.com/xinwuye/LatentChem"
        name = "code"
        
    # [[params.achievements.items]]
    #   title = "VidAnimator: User-Guided Stylized 3D Character Animation from Human Videos"
    #   content = "**Xinwu Ye**&#42;, [Jun-Hsiang Yao](https://scholar.google.com/citations?user=NbqwkFcAAAAJ)&#42;, [Jielin Feng](https://www.researchgate.net/scientific-contributions/Jielin-Feng-2258637525), Shuhong Mei, [Xingyu Lan](https://olivialan.github.io/), [Siming Chen](http://simingchen.me/). \n\n**arXiv (2025)**."
    #   [[params.achievements.items.links]]
    #     url = "https://arxiv.org/abs/2508.01878"
    #     name = "paper"


  # Publications section (using Projects format)
  [params.projects]
    enable = true
    title = "Publications"
    content = "* represents equal contribution and co-first authorship."
    [[params.projects.items]]
      title = "BC-Design: A Biochemistry-Aware Framework for Inverse Protein Design"
      content = "[Xiangru Tang](https://xiangrutang.github.io/)&#42;, **Xinwu Ye**&#42;, [Fang Wu](https://smiles724.github.io/)&#42;, [Yimeng Liu](https://www.linkedin.com/in/yoyo-liu-023332219/), [Anna Su](https://reflect.ucl.ac.uk/anna-su-scientific-research/), [Antonia Panescu](https://www.linkedin.com/in/antonia-panescu-489a82214/), [Guanlue Li](https://www.inf.uni-hamburg.de/en/inst/ab/ml/people/li.html), [Daniel Shao](https://scholar.google.com/citations?user=rtmmmfIAAAAJ), [Dong Xu](https://scholar.google.com/citations?user=xJeTtCoAAAAJ&hl=en), [Mark Gerstein](https://scholar.google.com/citations?user=YvjuUugAAAAJ&hl=en). \n\n**ICML 2025 Workshop GenBio**."
      [[params.projects.items.links]]
        url = "https://www.biorxiv.org/content/10.1101/2024.10.28.620755v3"
        name = "paper"
      [[params.projects.items.links]]
        url = "https://github.com/gersteinlab/BC-Design"
        name = "code"

    [[params.projects.items]]
      title = "MMSciBench: Benchmarking Language Models on Chinese Multimodal Scientific Problems"
      content = "**Xinwu Ye**, [Chengfan Li](https://chengfanli.github.io/), [Siming Chen](http://simingchen.me/), Wei Wei, [Xiangru Tang](https://xiangrutang.github.io/). \n\n**ACL 2025 Findings**."
      [[params.projects.items.links]]
        url = "https://arxiv.org/html/2503.01891v2"
        name = "paper"
      [[params.projects.items.links]]
        url = "https://github.com/xinwuye/MMSciBench-code"
        name = "code"
      [[params.projects.items.links]]
        url = "https://huggingface.co/datasets/XinwuYe/MMSciBench"
        name = "data"
        
    [[params.projects.items]]
      title = "GNNFairViz: Visual Analysis for Graph Neural Network Fairness"
      content = "**Xinwu Ye**, [Jielin Feng](https://www.researchgate.net/scientific-contributions/Jielin-Feng-2258637525), [Erasmo Purificato](https://erasmopurif.com/), [Ludovico Boratto](https://aibd.unica.it/people/ludovico-boratto), [Michael Kamp](https://michaelkamp.org/), [Zengfeng Huang](https://zengfenghuang.github.io/), [Siming Chen](http://simingchen.me/). \n\n**IEEE Transactions on Visualization and Computer Graphics (2025)**."
      [[params.projects.items.links]]
        url = "https://ieeexplore.ieee.org/abstract/document/10891209"
        name = "paper"
      [[params.projects.items.links]]
        url = "https://github.com/xinwuye/GNNFairViz"
        name = "code"
      [[params.projects.items.links]]
        url = "https://youtu.be/Qe0UfbemQLI"
        name = "video"




  # Education section
  [params.education]
    enable = true
    title = "Education"
    [[params.education.items]]
      title = "PhD in Computer Science"
      date = "2025-present"
      school = { name = "The University of Hong Kong" }
      content = "Hong Kong, China"
  
    [[params.education.items]]
      title = "Master of Finance"
      date = "2023-2025"
      school = { name = "Fudan University" }
      content = "Shanghai, China"
        
    [[params.education.items]]
      title = "Bachelor of Science & Bachelor of Engineering"
      date = "2019-2023"
      school = { name = "Shanghai University of Finance and Economics" }
      content = "Shanghai, China"

  # Professional Service section
  [params.professionalService]
    enable = true
    title = "Professional Service"
    [[params.professionalService.items]]
      title = "Reviewer"
      [[params.professionalService.items.subsections]]
        title = "Journal"
        items = ["[IEEE Transactions on Image Processing (TIP)](https://ieeexplore.ieee.org/xpl/RecentIssue.jsp?punumber=83)", "[IEEE Transactions on Circuits and Systems for Video Technology (TCSVT)](https://ieeexplore.ieee.org/xpl/mostRecentIssue.jsp?punumber=76)", "[IEEE Signal Processing Letters (SPL)](https://ieeexplore.ieee.org/xpl/aboutJournal.jsp?punumber=97)", "[IEEE Journal of Biomedical and Health Informatics (JBHI)](https://ieeexplore.ieee.org/xpl/RecentIssue.jsp?punumber=6221020)", "[Transactions on Machine Learning Research (TMLR)](https://jmlr.org/tmlr/)", "[Journal of Medical Internet Research (JMIR)](https://www.jmir.org/)", "[IEEE Transactions on Aerospace and Electronic Systems (TAES)](https://ieeexplore.ieee.org/xpl/RecentIssue.jsp?punumber=7)", "[Applied Intelligence (APIN)](https://link.springer.com/journal/10489)"]
      [[params.professionalService.items.subsections]]
        title = "Conference"
        items = ["[ICML 2026](https://icml.cc/)", "[ICLR 2026](https://iclr.cc/)", "[PacificVis 2026](https://pacificvis2026.github.io/)"]
      [[params.professionalService.items.subsections]]
        title = "Workshop"
        items = ["[AAMAS 2026 Workshop ASI](https://panosd.eu/asi2026/)", "[ICML 2025 Workshop AI4MATH](https://icml.cc/virtual/2025/workshop/39979)", "[COLM 2025 Workshop SoLaR](https://solar-colm.github.io/)", "[NeurIPS 2025 Workshop LXAI](https://openreview.net/group?id=NeurIPS.cc%2F2025%2FWorkshop%2FLXAI)"]

# Custom CSS to simplify the design
[params.customCSS]
  enable = true
  css = ["""
    /* Simplify the overall look */
    body {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
      line-height: 1.6;
      color: #333;
      background-color: #f8f9fa;
    }
    
    /* Make container narrower for better readability */
    .container {
      max-width: 800px !important;
    }
    
    /* Hide footer */
    footer {
      display: none !important;
    }
    
    /* Simplify cards */
    .card {
      box-shadow: none !important;
      border: 1px solid #eee !important;
    }
    
    /* Better typography */
    h1, h2, h3, h4, h5, h6 {
      font-weight: 600;
    }
    
    /* Remove animations */
    .animate__animated {
      animation-duration: 0s !important;
      opacity: 1 !important;
    }
    
    /* Make profile simpler */
    #profile {
      padding: 2rem 0;
    }
  """]
